
/* Main Page CSS */
/* title */
#title {
    text-align: left;
}
.container-fluid {
    padding: 7% 10%;
}

.introduction {
    background: rgb(1,0,15);
    background: linear-gradient(90deg, rgba(1,0,15,0.8938757631959033) 0%, rgba(9,9,121,1) 49%, rgba(0,212,255,0.9863127379858193) 100%);
    color: white;
}

.logo {
    color: white;
    font-weight:700;
    font-family: Geologica, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: Geologica, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1rem;
}

/* Intergration-partners */
#partners {
    background: rgb(0,141,195);
background: linear-gradient(90deg, rgba(0,141,195,1) 0%, rgba(202,237,255,1) 100%);
    padding: 3.5% 10% 3.5%;
    text-align: center;
}
#partners img {
    width: 75px;
    margin: 20px 20px 50px;
}

/* Services */
#services {
    background: rgb(1,0,15);
    background: linear-gradient(90deg, rgba(1,0,15,0.8938757631959033) 0%, rgba(9,9,121,1) 49%, rgba(0,212,255,0.9863127379858193) 100%);
    color: white;
    padding: 3.5% 10% 3.5%;
    text-align: center;
    
}

/* Pricing */
#pricing {
    padding: 7% 10%;
}




/* login Page CSS */
#boxlogin{
    padding: 30px;
    background-color: transparent;
    margin-top: 30px;
    color:#fff;
}
.loginBtn{
    margin-top:20px;
    background-color: rgba(9,9,121,1);
    border: none;
}
.box {
    margin: auto;
}
#login{
    text-transform: uppercase;
}
input{
    padding: 5px;
    width: 200px;
}
button{
    width: 200px;
}


/* mobile first method */

/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

         #boxlogin{
    
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
